*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-list{
    display: flex;
    width: 60%;
    align-items: center;
    margin: 10px 0;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    
}
.nav-list li a:hover{
 color: tomato;   
}
.nav-list li{
    list-style: none;
    padding: 0px 14px;
}

.rightNav{
    display: flex;
    padding: 10px;
    width: 40%;
    justify-content: flex-end;
}
.logo{
    margin: 10px;
}

.logo img{
    width: 35px;
    border-radius: 50%;
    margin: 10 6px;
}

.background{
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('bg2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSec{
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('ic.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}
#search{
    padding: 0 8px;
    margin: 10px 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.btn-sm{
    padding: 11px;
    margin: 4px 8px;
    color: white;
    font-size: 14px;
    background: none;
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
}

.btn{
    padding: 11px;
    margin: 4px 8px;
    color: white;
    font-size: 14px;
    background: #273c75;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
}
.buttons{
    margin-top: 10px;
    display: flex;
}
.buttons .btn:hover{
    color: #273c75;
    background: white;
}
.rightNav button:hover{
    color: #44bd32;
    border: 2px solid #44bd32;
}

.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.fhalf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
.text-big{
    font-size: 41px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;;
}
.text-small{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}

.content{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.contentleft{
    display: flex;
    padding: 30px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.paras{
    display: flex;
    flex-direction: column;
}
.thumbnail{
    padding: 32px;
}
.thumbnail img{
    border-radius: 50%;
}
.sectionSubTag{
    margin-top: 10px;
}
.secRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contact{
    /* background-color: #2d3436; */
    /* background-color: #2c3e50; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e272e;
    height: 100vh;
    
}
.text-center{
    text-align: center;
}
.contact p{
    color: white;
    padding: 36px;
}
.form{
    max-width: 30%;
    margin: auto;
    font-family:Helvetica, sans-serif;
}
.form input{
    color: white;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    border: 2px solid #b2bec3;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 6px;
}
.form button{
    font-size: 18px;
    margin: auto;
    padding: 10px;
    width: 50%;
    color: #b2bec3;
    border: 2px solid #b2bec3;
    border-radius: 10px;
    background: transparent;
}
.form button:hover{
    color: #e74c3c;
    border: 2px solid #e74c3c;
    cursor: pointer;
}
.form textarea{
    width: 100%;
    font-size: 15px;
    border: 2px solid #b2bec3;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 6px;
}
.subbtn{
    display: flex;
}

.burger{
    position: absolute;
    cursor: pointer;
    /* right: 5%;
    top: 7%; */
    display: none;
}
.line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 5px;

}


@media (max-width:730px){
    .navbar{
        flex-direction: column;
        position: sticky;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-list li {
        padding: 12px 16px;
    }
    .rightNav {
        padding: 0 10px;
        flex-direction: column;
        width: 50%;
    }
    .secRight{
        max-width: 65%;
    }
    #search{
        padding:7px 8px;
        width: 100%;
    }
    .content,.contentleft{
        margin-left: auto;
        flex-direction: column;
        max-width: 50%;
    }
    .form{
        max-width: 50%;
    }
    .btn-sm{
        width: 40%;
        margin:auto auto 12px auto;
    }
    .burger{
        display: inline-block;
        /* margin: 10px; */
        right: 5%;
        top: 17px;
    }
    .nav-h{
        height: 70px;
    }
    .visiblity{
        opacity: 0;

    }
    .paras{
        width: 286px;
    }
    .contact{
        height: 80vh;
    }
}
